body {
  background-color: powderblue;
}

h1   {
color: black;
}

p    {
color: red;
font-size: 20px;
}

.button {
  transition-duration: 0.4s;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  border: 5px solid black;
}

.button a, active
{
  text-decoration: none;
  color: black;

}

.button:hover a
{
  text-decoration: none;
  color: black;

}

.button:hover
{
  color: black;
  background-color: #06cb83;
}  